:root {
  --dark-color-2: #3A3D44;
  --primary-purple: #7662EA;
  --dark-color-3: #6B6E75;
  --dark-color-white: #FFFFFF;
  --dark-color-1: #1D1F24;
  --dark-color-6: #ECEFF3;
  --faded-purple: #ECE9FF;
  --line-color-line: #E0E3E8;
  --brown-4D0606: #4D0606;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 954px;
}

main {
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}